i need to build a website that will manage sensitive information so we need to secure all the data that is stored on the website.

it will work two ways, first it can be fed by a office365 excel file where we keep our cashflow or also uploading an excel file that has that information. Both sources will have the same information.

With that file, where I attach an example in the ./vortex folder I need that picks up that file either from the link or from the excel file, and shows us a dashboard with key information.

- The lowest point of cash on the following 6 months
- the highest point of cash on the following 6 months
- the biggest gain of cash on the following 6 months
- the lowest gain of cash on the following 6 months
- the revenue ytd
- the cost ytd
- a section of highlights you find from the last 3 months and following 6 months.

The site should be absolutely beautiful and modern, its target are c-levels and we need to be able to share the site with them.

It has to be branded, in the ./vortex folder you can see the logo and the colors we use.
The site should be able to be used on mobile, tablet and desktop.
The site should be able to be used in spanish and english.

On the following phases, we will add also the P&L by project and probably many other things.
